.item {
  -webkit-animation: fadein 0.3s linear forwards;
  animation: fadein 0.3s linear forwards;
}
.item-fadeout {
  -webkit-animation: fadeout 0.3s linear forwards;
  animation: fadeout 0.3s linear forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.imageNote {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.options-component {
  position: relative;
}

.options-container {
  top: 40px;
  left: 0;
  padding: 10px;
  background: #83c5be;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.options-container.fade-in {
  opacity: 1;
}

.options-container.fade-out {
  opacity: 0;
}

.options-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.options-content > button {
  background: none;
  border-style: solid;
  padding: 10px;
  border-radius: 14px;
  border-color: #0054e9;
  color: #0054e9;
  cursor: pointer;
}

.colorPalettes-container {
  display: flex;
  gap: 1em;
  flex-direction: row;
}

.palettecircle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.left-half,
.right-half {
  position: absolute;
  width: 15px; /* Half of the circle's width */
  height: 30px;
  top: 0;
}

.left-half {
  left: 0;
}

.right-half {
  right: 0;
}
