.noteHeader {
  width: max-content;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  min-width: 160px;
  grid-gap: 2em;
}

.noteParent {
  background: white;
  color: black;
  width: max-content;
  padding: 10px;
  border: 1px solid #8d99ae;
  border-radius: 5px;
}
