#boardBody {
  /* height: 100%; */
  width: 100%;
  top: 110px;
  position: absolute;
  display: flex;

  height: calc(75vh + 60px);

  overflow: auto;
}

#board {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-flow: column;
  padding: 0 10px;
  padding-bottom: 10px;
}

#board-container {
  /* z-index: 2; */
  width: 100%;
}

#noteEditorDoubleClick {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
