.quick-view-grid-style {
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.grid-view-content-style {
  display: inline-block;
  /* line-height: 14.5px;
  max-height: calc(14.5px * 3); */
  max-height: 60px;
  text-overflow: ellipsis;
  white-space: unset !important;
}
